<table class="table">
  <thead>
  <tr>
    <th scope="col">email</th>
    <th scope="col">first name</th>
    <th scope="col">ciam id</th>
    <th scope="col">last name</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (user of searchedUsers(); track user) {
      <tr>
        <th scope="row">{{ $index }}</th>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
      </tr>
    } @empty {
      There are no items
    }
  </tbody>
</table>
